*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    padding: 20px 0px 10px 0px;
    color: #ffffff;
    background-color: rgb(101, 101, 101);
    display: flex;
    justify-content: space-between;
}

header img{
    height: 50px;
    width: 50px;
    background-size: cover;
}

header h2{
    margin-top: 10px;
    color: rgb(243, 219, 164);
    font-family: italic;
}

b a{
    padding-right: 10px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

header a:hover{
    color: orangered;
    text-decoration: underline;
}

header img{
    height: 60px;
    width: 60px;
    background-size: cover;
    border-radius: 50%;
}

main div{
    margin-top: 10px;
    height: 150px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(255, 228, 228);
    color: red;
    font-weight: bold;
    font-family: cursive;
}

marquee{
    line-height: 25px;
    margin-left: 10px;
}

.banner{
    margin-top: 10px;
    margin-left: 10px;
    height: 400px;
    width: 600px;
    border-radius: 10px;
    display: inline;
}

main p{
    display: inline;
}
